// variables
$c-dark-text: #181818;
$c-grey-text: #a9a9a9;
$c-white: #ffffff;
$c-dark-grey: #3b4040;
$c-bgd-light: #f5f4f9;
$c-bgd-blue: #6fcffb;
$c-bgd-holland: #fd8d7b;
// local fonts
@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/bebasneue_bold-webfont.woff2') format('woff2'),
  url('../fonts/bebasneue_bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/bebasneue_light-webfont.woff2') format('woff2'),
  url('../fonts/bebasneue_light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/bebasneue_regular-webfont.woff2') format('woff2'),
  url('../fonts/bebasneue_regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/bebasneue_thin-webfont.woff2') format('woff2'),
  url('../fonts/bebasneue_thin-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
// google fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
/*styles to all elements*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*styles to body*/
body {
  height: 100vh;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 300;
  font-size: 16px;
  background-color: #9789f9;
  color: $c-dark-text;
}

// sections
@import "sections/box";

// blocks
@import "blocks/container";
