@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
@font-face {
  font-family: 'Bebas Neue';
  src: url("../fonts/bebasneue_bold-webfont.woff2") format("woff2"), url("../fonts/bebasneue_bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Bebas Neue';
  src: url("../fonts/bebasneue_light-webfont.woff2") format("woff2"), url("../fonts/bebasneue_light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Bebas Neue';
  src: url("../fonts/bebasneue_regular-webfont.woff2") format("woff2"), url("../fonts/bebasneue_regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Bebas Neue';
  src: url("../fonts/bebasneue_thin-webfont.woff2") format("woff2"), url("../fonts/bebasneue_thin-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal; }
/*styles to all elements*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*styles to body*/
body {
  height: 100vh;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 300;
  font-size: 16px;
  background-color: #9789f9;
  color: #181818; }

.box {
  width: 330px;
  padding-top: 50px;
  margin: 10px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #f5f4f9;
  position: relative;
  box-shadow: 2px 4px 59px #7a6be7; }
  .box::before {
    content: '';
    display: block;
    position: absolute;
    height: 65%;
    width: 150%;
    bottom: 10%;
    background: #ffffff;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    clip-path: polygon(16.6666667% 0, 83.333333% 0%, 83.333333% 100%, 16.6666667% 100%); }
  .box--hero {
    width: 370px; }
    .box--hero-decoration {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 50px; }
      .box--hero-decoration::before, .box--hero-decoration::after {
        content: '';
        display: block;
        position: inherit;
        border-radius: 50%;
        background: #fd8d7b; }
      .box--hero-decoration::before {
        width: 15px;
        height: 15px;
        right: -7.5px;
        top: -7.5px; }
      .box--hero-decoration::after {
        width: 5px;
        height: 5px;
        right: -12.5px;
        top: -12.5px;
        background-color: #fd8d7b; }
    .box--hero-tooltip {
      display: none;
      align-items: center;
      justify-content: center;
      width: 97px;
      height: 30px;
      position: absolute;
      top: 30px;
      left: calc(100% - 10px);
      z-index: 1;
      background: #3b4040;
      border-radius: 15px;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.08em;
      color: #ffffff; }
      .box--hero-tooltip::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto -1px;
        right: 100%;
        width: 0;
        height: 0;
        border-width: 5px 5px 5px 0;
        border-style: solid;
        border-right-color: #3b4040;
        border-top-color: transparent;
        border-bottom-color: transparent; }
    .box--hero-decoration span {
      display: block;
      background: #fd8d7b;
      border-radius: 50%;
      font-size: 24px;
      font-weight: 400;
      text-transform: uppercase;
      color: #ffffff;
      cursor: alias; }
    .box--hero-decoration:hover + .box--hero-tooltip {
      display: flex; }
  .box__title {
    margin: 0;
    padding: 25px 0;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 1.5;
    text-transform: uppercase; }
  .box__price {
    margin: 0;
    position: relative;
    font-size: 60px;
    font-weight: 100;
    letter-spacing: 0.08em;
    line-height: 0.7;
    order: -1; }
    .box__price::before {
      content: '$';
      position: absolute;
      right: 100%;
      font-size: 24px; }
    .box__price::after {
      content: '/hr';
      position: absolute;
      bottom: 0;
      left: 100%;
      font-size: 16px;
      text-transform: uppercase; }
  .box__icon {
    width: 30px;
    height: 30px;
    margin: 30px 0;
    z-index: 1; }
    .box__icon path {
      fill: #181818; }
    .box__icon--hero {
      width: 40px;
      height: 40px;
      margin: 50px 0; }
  .box__list {
    margin: 0;
    padding: 0 0 120px 0;
    list-style: none;
    z-index: 1; }
    .box__list-items {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      line-height: 53px; }
  .box__link {
    display: block;
    z-index: 1;
    position: absolute;
    bottom: 0%;
    transform: translateY(50%);
    width: 205px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.08em;
    line-height: 53px;
    background: #6fcffb;
    border-radius: 27px;
    sbox-shadow: 2px 4px 18px rgba(253, 141, 123, 0.31);
    transition: background 0.3s ease-in-out; }
    .box__link:hover {
      background: #0caef8; }
    .box__link--hero {
      bottom: 10%;
      background: #fd8d7b; }
      .box__link--hero:hover {
        background: #fb3617; }
  .box__remark {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-align: center;
    line-height: 53px;
    color: #a9a9a9;
    z-index: 1; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 160px 15px 145px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center; }

/*# sourceMappingURL=main.css.map */
